.profile {
  max-width: 320px;
  margin: 20px auto;
  border: black 2px solid;
  border-radius: 15px;
}

.profile_photo {
  width: 150px;
  border-radius: 50%;
  background-color: black;
  margin: 16px auto 24px auto;
}

.profile_name {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: black;
  margin-bottom: 8px;
}

.profile_tag,
.profile_location {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: gray;
  margin-bottom: 8px;
}

.stats_list {
  display: flex;
  flex-wrap: no-wrap;
  margin-top: 10px;
  padding: 0;
}

.stats_listitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background-color: lightgrey;
  padding: 8px;
}

.stats_figures {
  font-weight: bold;
}

.stats_listitem:first-child {
  border-top: 1px solid gray;
  border-bottom-left-radius: 15px;
}

.stats_listitem:nth-child(2n) {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.stats_listitem:last-child {
  border-top: 1px solid gray;
  border-bottom-right-radius: 15px;
}
