.friendlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 0;
  margin: 40px auto;
  list-style: none;
}

.friendlistitem {
  width: 60px;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
}
